<div id="zoom-controls">
  <a class="btn zoom" (click)="zoomIn()"><i class="fas fa-search-plus"></i></a>
  <a class="btn zoom-out" (click)="zoomOut()"><i class="fas fa-search-minus"></i></a>
<!-- <a class="btn zoom-init"><i class="fas fa-recycle"></i></a> -->
</div>
<div id="container" #container>
  <div #canvas id="canvas" class="nodes-canvas">
    <div
      class="node"
      *ngFor="let node of nodes"
      [id]="node.id"
      [style.left.px]="node.x"
      [style.top.px]="node.y"
    >
      {{ node.label }}
      <div
        class="child node"
        *ngFor="let child of node.children"
        [id]="child.id"
        [style.left.px]="child.x"
        [style.top.px]="child.y"
      >
        {{ child.label }}
        <div
          class="sub-child node"
          *ngFor="let subChild of child.children"
          [id]="subChild.id"
          [style.left.px]="subChild.x"
          [style.top.px]="subChild.y"
        >
          {{ subChild.label }}
        </div>
      </div>
    </div>
  </div>
</div>
